@mixin fw500() {
  font-family: Rubik, Arial, serif, sans-serif;
  font-style: normal;
  font-weight: 500;
}

@mixin fwNormal() {
  font-family: Rubik, Arial, serif, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}